#### 1. Import pandas library

In [21]:
import pandas as pd
import numpy as np

#### 2. Import users table:

In [22]:

users = pd.read_csv("datasets/users_table.csv")
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [23]:
users = users.rename(columns={"Id":"userId"})

#### 4. Import posts table:

In [24]:
posts = pd.read_csv("datasets/posts_table.csv")
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [25]:
posts = posts.rename(columns={'Id':'postId','OwnerUserId':'userId' })

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [26]:

users_df = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
users_df.head()
posts_df = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
posts_df.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [27]:
df_merged = pd.merge(posts_df, users_df, on="userId", how="left")
df_merged.head()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,6764.0,1089.0,604.0,25.0
1,2,22,24.0,8198.0,1,344.0,48.0,36.0,1.0
2,3,54,18.0,3613.0,4,128.0,8.0,16.0,0.0
3,4,13,23.0,5224.0,2,308.0,52.0,34.0,1.0
4,5,81,23.0,NaN,3,308.0,52.0,34.0,1.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [28]:
df_merged.isna().sum()

postId              0
Score               0
userId           1038
ViewCount       24105
CommentCount        0
Reputation       1038
Views            1038
UpVotes          1038
DownVotes        1038
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [34]:
#Missing values related to post are filled as to avoid losing valid post data. and missing userId kept empty as it might be unknown user.
df_merged.fillna({"ViewCount": 0}, inplace=True)
df_merged.fillna({"Reputation": 0}, inplace=True)
df_merged.fillna({"Views": 0}, inplace=True)
df_merged.fillna({"UpVotes": 0}, inplace=True)
df_merged.fillna({"DownVotes": 0}, inplace=True)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,6764.0,1089.0,604.0,25.0
1,2,22,24.0,8198.0,1,344.0,48.0,36.0,1.0
2,3,54,18.0,3613.0,4,128.0,8.0,16.0,0.0
3,4,13,23.0,5224.0,2,308.0,52.0,34.0,1.0
4,5,81,23.0,0.0,3,308.0,52.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...
39995,48321,0,19966.0,0.0,0,1.0,1.0,0.0,0.0
39996,48322,3,892.0,0.0,2,2772.0,207.0,167.0,2.0
39997,48323,1,2020.0,0.0,0,565.0,80.0,81.0,0.0
39998,48324,3,19914.0,0.0,0,63.0,6.0,3.0,0.0
39999,48325,-1,19968.0,116.0,4,1.0,1.0,0.0,0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [40]:
#Id columns and count columns

df_merged.info()

int_columns = ["userId", "ViewCount", "Reputation", "Views", "UpVotes", "DownVotes"]
df_merged[int_columns] = df_merged[int_columns].astype("Int64")

<class 'pandas.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        40000 non-null  int64
 1   Score         40000 non-null  int64
 2   userId        38962 non-null  Int64
 3   ViewCount     40000 non-null  Int64
 4   CommentCount  40000 non-null  int64
 5   Reputation    40000 non-null  Int64
 6   Views         40000 non-null  Int64
 7   UpVotes       40000 non-null  Int64
 8   DownVotes     40000 non-null  Int64
dtypes: Int64(6), int64(3)
memory usage: 3.0 MB